body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.modes button {
  background: #1e293b;
  color: white;
}
